<h1> Edit Artist </h1>

<% if @artist.errors.any? %>
  <div id="error_explanation">
    <h2>There were some errors:</h2>
    <ul>
      <% @artist.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %> 


<%= form_tag artist_path(@artist) do %>
<%= render partial: "form", locals: {artist: @artist} %>
<% end %>

<br>


<%= button_to "Delete Artist", artist_path(@artist), method: :delete %> <br>

<br>

<%= link_to "Back to Artists", artists_path %>