<h1><%= @artist.name %></h1>


<h3><%= @artist.hometown %></h3>

Upcoming Concerts: <br>
<%= render partial:"concerts/concert", collection: @artist.concerts.upcoming %> <br>
<br>

All Concerts: <br>
<%= render partial:"concerts/concert", collection: @artist.concerts%> <br>
<br>

<p> <%= @artist.bio %></P>

<%= add_concert_button %>


<%= edit_artist_button(@artist, @current_user_artist) %>

<%= link_to "Back to Artists", artists_path %>