<div class="venue-container">
<%= form_for venue do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <%= f.label :description %>
    <%= f.text_area :description %><br>

    <%= f.fields_for :address do |addr| %>
        <%= addr.label :street_number %>
        <%= addr.text_field :street_number %><br>

        <%= addr.label :street_name %>
        <%= addr.text_field :street_name %><br>

        <%= addr.label :city %>
        <%= addr.text_field :city %><br>

        <%= addr.label :state %>
        <%= addr.text_field :state %><br>

        <%= addr.label :zip %>
        <%= addr.text_field :zip %><br>
    <% end %>
  <%= f.submit %>
<% end %> 
</div>