<h1> Edit Venue </h1>

<% if @venue.errors.any? %>
  <div id="error_explanation">
    <h2>There were some errors:</h2>
    <ul>
      <% @venue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %> 

<%= form_tag venue_path(@venue) do %>
<%= render partial: "form", locals: {venue: @venue, address: @venue.address} %>
<% end %>
<br>
<%= button_to "Delete Venue", venue_path(@venue), method: :delete %> 

<br>
<%= link_to "Back to Venues", venues_path %>