<h1> Welcome to MyScene </h1>



<h2> You can begin searching for concerts here: </h2>

<div id="homepage-concert-search-field">
    <%= form_tag concerts_path, method: :get  do %>
        <label>Search for Concerts:</label>
        <%= select_tag "option", options_for_select(["Name", "Artist", "Venue"])%>
        <%= text_field_tag :search, params[:search]%>
        <%= submit_tag "Search" %>
    <% end %>
</div>

<h3> <%= link_to "View all Artists", artists_path %> </h3>

<h3> <%= link_to "View all Venues", venues_path %> </h3>

<br>

<h3> If you are an artist, please: </h3>
<h4> 
    <%= link_to "Log in", login_path %>
    <%= link_to "...or Sign-up", sign_up_path %> 
</h4>

