<!DOCTYPE html>
<html>
  <head>
    <title>MyScene</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= login_logout_button %>
    <% flash.each do |type, msg| %>
      <div class="alert alert-info">
        <%= msg %>
      </div>
    <% end %>

    <div id="concert-search-field">
      <%= form_tag concerts_path, method: :get  do %>
          <label>Search for Concerts:</label>
          <%= select_tag "option", options_for_select(["Name", "Artist", "Venue"])%>
          <%= text_field_tag :search, params[:search]%>
          <%= submit_tag "Search" %>
      <% end %>
    </div>


    <%= yield %>
  </body>
</html>
